name: flutter_linux_de_info
description: "A Flutter plugin that retrieves the current Linux Desktop Environment (KDE, GNOME, XFCE, etc.) using a native MethodChannel."
version: 0.0.2

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      linux:
        pluginClass: FlutterLinuxDeInfoPlugin